<div class="bg-white border-white border-2 px-3.125 py-10">
    <div>
        <fa-icon [icon]="faQuoteLeft"></fa-icon>
        <!-- quote value -->
        {{quote.quote}}
    </div>
    <div>
        <!-- author of quote -->
        - {{quote.author}}
    </div>
    <div>
        <div>
            <fa-icon [icon]="faTwitter"></fa-icon>
            <fa-icon [icon]="faFacebook"></fa-icon>
        </div>
        <div>
            <button (click)="nextQuote()" >New Quote</button>
        </div>
    </div>
</div>
